.register{
  width: 100vw;
  height: 100vh;
  background-image: url('https://www.shutterstock.com/shutterstock/photos/778131475/display_1500/stock-photo-tropical-leaves-texture-abstract-nature-leaf-green-texture-background-vintage-dark-tone-picture-can-778131475.jpg');

  .top{
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__button{
      font-size: 20px;
      color: white;
      background-color: rgb(27, 26, 26);
      border-radius: 5px;
      border: none;
      font-weight: 600;
      padding: 15px 20px;
      cursor: pointer;
      box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      a{
        text-decoration: none;
        color: white;
      }
    }
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title{
      color: white;
    }

    .wrapper{
      background-color: rgba($color: #000000, $alpha: 0.6);
      display: flex;
      flex-direction: column;
      width: 50%;
      color: white;
      align-items: center;
      border-radius: 3px;

      .container__wrapper{
        width: 100%;
        margin-left: 100px;
        position: relative;
        h5{
          font-size: 15px;
          font-weight: 300;
          position: absolute;
          left: 3%;
          top: 0.7rem;
          margin: 0.5rem auto;
          letter-spacing:1px;
        }
        input{
          color: white;
          margin: 1.8rem auto;
          width: 80%;
          border: none;
          padding: 0.5rem;
          background-color: rgba(0,0,0,0.3);
          box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
        }
      }
    }

  

    &__button{
      margin: 30px;
      height: 100%;
      background-color: rgb(27, 26, 26);
      border: none;
      border-radius: 3px;
      font-weight: 400;
      color: white;
      font-size: 20px;
      padding: 20px 10px;
    }
  }
}
