.header{
  width: 100vw;
   height: 100vh;
   background-image: url('https://www.shutterstock.com/shutterstock/photos/778131475/display_1500/stock-photo-tropical-leaves-texture-abstract-nature-leaf-green-texture-background-vintage-dark-tone-picture-can-778131475.jpg');
  background-color: rgb(42, 58, 58);
  
  img{
    position: absolute;
    left: 30%;
    top: 20%;
  }
 
}